<h1>Clubs</h1>
<ul>
  <% @clubs.each do |club| %>
    <li>
      <%= link_to club.name, club %>, 
      <%= pluralize(member_count(club), "member") %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Club', new_club_path %>
